*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution{
    position: absolute;
    top: 100%;
    width: 100%;
}

$Paleblue: hsl(225, 100%, 94%);
$Brightblue: hsl(245, 75%, 52%);

$Verypaleblue: hsl(225, 100%, 98%);
$Desaturatedblue: hsl(224, 23%, 55%);
$Darkblue: hsl(223, 47%, 23%);

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    width: 100%;
    min-width: 375;
    height: 100vh;
    background: url(images/pattern-background-desktop.svg) no-repeat;
    @media  screen and (max-width: 375px) {
        background: url(images/pattern-background-mobile.svg) no-repeat;
    }
    display: grid;
    place-items: center;
}

.card{
    background-color: $Verypaleblue;
    border-radius: 24px;
    width: 325px;
    height: 550px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 2px $Desaturatedblue;
    .card-body{
        text-align: center;
        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        h1{
            font-size: 1.5rem;
            font-weight: 900;
        }
        p{
            color: $Desaturatedblue;

        }
        .plan{
            display: flex;
            align-items: center;
            span{
                margin: 0 2.5rem 0 1rem;
            }
            img{
                margin: 0 0 0 1rem;
            }
            a{
                font-size: .9rem;
                font-weight: 700;
                &:is(:hover, :active, :focus){
                    color:  #8b3bf5;
                }
            }
        }
        button{
            font-weight: 900;
            border: none;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
            }
        }
        button:last-of-type{
            &:not(:hover, :active, :focus){
                color: $Desaturatedblue;
                // color:  #8b3bf5;
            }
        }
        button:first-of-type{
            background-color: $Brightblue;
            padding: 1rem;
            color: $Verypaleblue;
            &:is(:hover, :active, :focus){
                background-color:  #8b3bf5;
            }
        }
    }
    > img{
        width: 100%;
        height: auto;
    }
}

